<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                   <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['codigo','detalle','nombre','pvp']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrador de Productos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="codigo">Codigo <p-sortIcon field="codigo"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Producto <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="detalle">Descripcion <p-sortIcon field="detalle"></p-sortIcon></th>
                        <th pSortableColumn="pvp">PVP <p-sortIcon field="pvp"></p-sortIcon></th>
                        <th pSortableColumn="iva">Impuesto <p-sortIcon field="iva"></p-sortIcon></th>
                        <th >Existencia <p-sortIcon field="existente"></p-sortIcon></th>
                        <th pSortableColumn="category">Categoria <p-sortIcon field="categoria"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Codigo</span>
                            {{product.codigo}}
                        </td>
                        <td style="width:14%; min-width:10rem;" [style]="{'text-align':'center'}" >
                            <span class="p-column-title">Producto</span>
                                {{product.nombre}}
                            <img [src]="product.imagen" [alt]="product.nombre" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Descripcion</span>
                            {{product.detalle}}
                        </td>

                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">PvP</span>
                            {{product.pvp | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Iva</span>
                            {{product.iva ? '12%':'0%'}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Existencia</span>
                            {{product.existente}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoria</span>
                            {{product.categoria.nombre}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Detalle de Producto" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="product.imagen" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.imagen">

                <div class="formgrid grid">
                    <div class="field col">
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.nombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.nombre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.nombre">requerido.</small>
                </div>
            </div>
            <div class="field col">
                <div class="field">
                    <label for="codigo">Codigo</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.codigo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.codigo}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.codigo">requerido.</small>
                </div>
            </div>
        </div>
                <div class="field">
                    <label for="detalle">Detalle</label>
                    <textarea id="detalle" pInputTextarea [(ngModel)]="product.detalle" required rows="3" cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="status">Impuesto</label>
                    <p-dropdown [(ngModel)]="product.iva" inputId="iva"  optionLabel="label" optionValue="value" [options]="statuses" placeholder="Select">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                <div class="field">
                    <label for="categoria">Categoria</label>
                    <p-dropdown [(ngModel)]="product.categoria" inputId="categoria"
                    optionLabel="nombre"
                     [options]="categories" placeholder="Seleccione una categoria">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.nombre}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
                <div class="field col">
                    <label for="categoria">Imagen</label>
                    <p-fileUpload mode="basic" chooseLabel="Seleccione" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>

                </div>


        </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">PVP</label>
                        <p-inputNumber id="price" [(ngModel)]="product.pvp" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col" >
                        <label for="quantity">Cantidad</label>
                        <p-inputNumber id="quantity" [(ngModel)]="product.existente"
                        [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        ></p-inputNumber>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <div class="field">
                            <label for="proveedor">Proveedor</label>
                            <input type="text" pInputText id="proveedor" [(ngModel)]="product.proveedor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.proveedor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.proveedor">requerido.</small>
                        </div>
                    </div>
                    <div class="field col" >
                        <label for="proveedorC">Costo Proveedor</label>
                        <p-inputNumber id="proveedorC" [(ngModel)]="product.costoProveedor"
                        [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        ></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
